*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: currentColor;
  font-family: inherit;
}

body {
  padding: 2rem;
  height: 100vh;
  min-height: -webkit-fill-available;
  background-color: #fff;
  color: #4C566A;
  font-family: -apple-system, MicrosoftJhengHei, sans-serif;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  appearance: none;
  background: none;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  appearance: none;
  background: none;
  background-clip: padding-box;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
}

p {
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

::placeholder {
  color: rgba(76, 86, 106, 0.5);
}

#root {
  height: 100%;
}
